<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="com.slm.loginMail.LoginTest">
      <methods>
       <exclude name="f"></exclude>
       
      </methods>
      </class>
      
      <class name="com.slm.loginMail.ChkParam">
      <methods>
         <parameter name="browser" value="firefox"/>     
      </methods>
      </class>
      
      <class name="com.slm.myproject.email.EmailUtil">
      </class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
